@using Sitecore.Mvc

@Html.Sitecore().Placeholder("Layout")

<footer id="dept-footer" role="contentinfo">
    <div class="container">
        <div id="contact-panel">
            <h1 class="doctors-wordmark"><strong>Doctors</strong> of USF Health</h1>
            <h2 class="usf-subtitle">University of South Florida</h2>
            <div class="spacemaker">
                <!-- BEGIN_REPLACE|footer  -->
                <div id="contact-info-container">
                    <div class="contact-info">
                        @Html.Raw(Model.FooterVCard)
                    </div>
                </div>
                @Html.Raw(Model.FooterGmap)
                <!-- END_REPLACE|footer  -->
            </div>
            <span id="modified">This page was last modified on: @Html.Sitecore().Field("__Updated", new { format = "MM/dd/yyyy" })</span>
        </div>
        <!-- user control footer links -->
        <div id="footer-links">
            @Html.Raw(Model.FooterLinks)
        </div>
    </div>
</footer>
<footer id="health-footer">
    <div class="container">
        <div id="credits">
            <a href="http://health.usf.edu/is" class="powered">
                <img width="62" height="62" alt="USF Health Information Systems" src="http://health.usf.edu/layouts/images/health_is.png">
                <span>Powered and Designed by <br>USF Health Information Systems</span>
            </a>
        </div>

        <nav id="docs-footer-right">
            <ul>
                <li><a href="http://health.usf.edu">USF Health</a><span class="separator">·</span></li>
                <li><a href="http://health.usf.edu/research/">Research</a><span class="separator">·</span></li>
                <li><a href="http://health.usf.edu/education.html">Academics</a><span class="separator">·</span></li>
                <li><a href="http://health.usf.edu/doctors/">Patient Care</a></li>
            </ul>
        </nav>
    </div>
</footer>
<!-- End of Doctors Main -->


