@model HealthIS.Layouts.Models.MCOM
@using Sitecore.Mvc

@Html.Sitecore().Placeholder("Top Header")
<!--**** START - MCOM Master Header ****-->
<header class="container block-center" id="dept-header" role="banner">
    <a id="health-logo" class="text-hide" href="http://health.usf.edu">USF Health</a>
    @Html.Sitecore().Placeholder("BreadCrumbs")
    <h4>@Model.currentItem["Page Title"]</h4>
    <div class="template-options col-md-5" style="text-align: right; height: 70px; overflow: hidden; padding: 0">
        <span class="custom-right-header">
            @Html.Sitecore().Field("Custom Right Header")
        </span>
    </div>
</header>
<!--**** END - MCOM Master Header ****-->
        
<!--**** START - MCOM Main Horizontal Navigation ****-->
@Html.Sitecore().Placeholder("Horizontal Navigation")
<!--**** END - MCOM Main Navigation ****-->

<main class="container block-center site-content clearfix" role="main">
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <input type="button" id="addNewChildItemTop" class="pe-button pe-green" onclick="addChildPage();" style="float: right; margin-bottom: 20px; margin-right: 15px;" value="Add a Child Page" />
        <script>
            jQuery(document).ready(function () {
                autoSave();
                var currentUrl = '@Request.Url.AbsoluteUri';
                msgEmptyPlaceholder(currentUrl);
            });
        </script>
    }
    @Html.Sitecore().Placeholder("MCOM Page Type")
</main>

@Html.Sitecore().Placeholder("Bottom Footer")