@model HealthIS.Layouts.Models.COPH
@using Sitecore.Mvc
@using HealthIS.Apps.MVC
@Model.executeAutosave()

<div class="slick-shadow">
    @if (!String.IsNullOrEmpty(Helpers.getRenderingId("Headline for Standard")))
    {
        @Html.Raw(Model.headlineOpen("standard-header coph-standard"));
        @Html.Sitecore().Placeholder("Headline for Standard")
        @Html.Raw(Model.headlineClose);
    } else {
        @Html.Sitecore().Placeholder("Headline for Standard") 
    }
    @Helpers.placeholderRequired("Headline for Standard")
    @Html.Sitecore().Placeholder("List Builder") @Helpers.placeholderRequired("List Builder")
</div>